<div class="show-gif-item">
	<h3><%= @post.title %></h3><br>
	<img class="show-gif" src="<%= @post.gif_url %>">
	<div class="button-bar">
		<a href="/posts/upvote/<%= @post.id %>"><button class="vote-up">Vote Up</button></a>
		<a href="/posts/downvote/<%= @post.id %>"><button class="vote-down">Vote Down</button></a>
	</div>
</li>

<%= form_for @post do |f| %>
  <%= f.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  <%= f.submit %>
<% end %>